.black {
    color: black;
}

.white {
    color: white;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.green {
    color: green;
}

.yellow {
    color: yellow;
}

.purple {
    color: purple;
}

.gold {
    color: gold;
}